.dog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
  gap: 20px; /* Space between the cards */
  padding: 20px;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
.search-sort-container{
  margin:1em;
  display: flex;
  align-items: center;
}