.favorites-page {
  padding: 20px;
  text-align: center;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.matched-dog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}  
.find-match-button {
  background-color: #333;
  margin-top: 1em;
}