.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 2em;
}

.pagination button {
  /* padding: 8px 15px; */
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  border-radius: 50% 50%;
  width: 35px;
  height: 35px;
  padding: 0;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
  color: #333;
}

.pagination span {
  font-size: 16px;
  font-weight: bold;
}
